body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hymnForm{
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.hymnForm label{
  color: rgb(120, 69, 69);
}

.hymnForm input{
  width: 200px;
}

.result-section{
  border: 1px solid firebrick;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}